{{! This is how to render a simple flat list.
#headers is the key of the section and dot (.) simply renders "current" item }}
{{#headers}}{{.}},{{/headers}}
{{! And here, we render a nested list by creating a section for the row (#.) and passing each item (the columns) into that section }}
{{#flatData}}
{{#.}}{{.}},{{/.}}
{{/flatData}}
{{! With objectData we expect each item in the array to have a property name instead of a flat data }}
{{#objectData}}
{{#.}}{{name}},{{gender}},{{#getAge}}{{dob}}{{/getAge}},{{/.}}
{{/objectData}}